.block.devices .card:hover {
  -webkit-background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  -moz-background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  -o-background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);



}

.block.devices .category.row .card:hover {
  -webkit-background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  -moz-background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  -o-background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
   transition: .5s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.block.devices .category.row.model-category .card:hover {
  background: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
}

#breadcrumb {display:none;}

/***24/08/2020***/

/*.inner .block.devices.inner_page_step .category.row.model-category .card {
   background-color: #fff;
   min-height: 290px;
   max-height: 290px;
   height: 100%;
   -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
   -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
   -o-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
   box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.15);
   border-radius: 0;
   margin: 5px 5px;
   padding: 30px;
}

.block.devices.inner_page_step .category.row.model-category .card img {
   max-width: 100%;
   max-height: 150px; 
}

.inner .block.devices.inner_page_step .category.row.model-category .card:hover img {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   -webkit-transition: 0.3s;
   transition: 0.3s;
}

.inner .block.devices.inner_page_step .card h5 {
   font-size: 16px;
   padding: 20px 15px 0 !important;
}*/

/***new css***/

/*.block.devices .category.row .card{
    max-height: 245px;
    min-height: 245px;
    max-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background-clip: padding-box;
    border: solid 3px transparent;
    z-index: 1;
}


.block.devices .category.row .card .image:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    margin: -3px;
    border-radius: inherit;
    border: 3px solid #2ead26;
}

.block.devices .category.row .card .image:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    -moz-background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    -o-background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
    margin: 5px 5px;
}

.block.devices .category.row .card .image:hover:after {
    -webkit-background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    -moz-background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    -o-background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    background-image: linear-gradient(to bottom, var(--primary_color), var(--secondary_color));
    margin: 5px 5px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}*/