@font-face {
  font-family: fontawesome;
  src: url('font/fontawesome-webfont.ttf')
}
.nav-pills .nav-link {
    border-radius: 0;
}
.vartical-tab.m-tabs-line--success a.m-tabs__link.active,
.vartical-tab.m-tabs-line--success a.m-tabs__link:hover,
.vartical-tab.m-tabs-line--success.nav.nav-tabs .nav-link.active,
.vartical-tab.m-tabs-line--success.nav.nav-tabs .nav-link:hover{
  background: #34bfa3;
  border-bottom: 1px solid transparent;
  color: #fff;
}
.nav.vartical-tab .nav-item,
.nav.vartical-tab .nav-item {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #fff;
}
.nav.vartical-tab .nav-link,
.nav.vartical-tab .nav-link {
  padding-left: 15px
}
.tab-pane ul{
  padding: 0;
  margin: 0;
}
.dd3-handle {
    border: 1px solid #555 !important;
    background: #555 !important;
}
.dd3-handle::before {
    font-family: fontawesome !important;
    top: 5px !important;
}
#add_condition_item label {
  display: block;
}
.btn.btn-success{
  color: #fff !important;
}
.input-with-label label, 
.network-fields label{
  display: block;
  margin-top: 10px;
}
.m-portlet .m-portlet__body{
  overflow: auto;
}
/* body .dd3-handle::before {
  display: none;
} */
.m-widget4 .m-widget4__item .m-widget4__ext .m-widget4__number {
  background: rgb(113, 106, 202);
  color: white !important;
  border-radius: 4px;
  padding: 0 5px 0 5px;
}
.m-widget4__img .online {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  float: right;
  margin-top: -10px;
  position: relative;
}
.bg-gray {
  background-color: #969696;
}
.m-widget4 .m-widget4__item:hover{
  cursor: pointer;
}
.m-messenger__wrapper .m-messenger__message-body .modify-btn {
  float: right;
  top: -15px;
  right: 20px;
  position: absolute;
  display: none;
}
.m-messenger__wrapper .m-messenger__message-body .modify-btn .edit, .m-messenger__wrapper .m-messenger__message-body .modify-btn .remove {
  /* background: rgb(113, 106, 202); */
  background: #f5f5f5e6;
  /* color: white; */
  color: black;
  -webkit-box-shadow: 0 0 5px #666 !important;
  box-shadow: 0 0 5px #666 !important;
  margin-left: 2px;
}
.m-messenger__wrapper .m-messenger__message-body .modify-btn .edit:hover {
  background: #00c5dc;
  color: white;
}
.m-messenger__wrapper .m-messenger__message-body .modify-btn .remove:hover {
  background: #f4516c;
  color: white;
}
.m-messenger__message-body:hover .modify-btn {
  display: block
}
.btn-round{
  border-radius: 20px;
  margin-left: 10px;
}
.m-widget4 .m-widget4__item{
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.m-widget4 .m-widget4__item:hover,
.m-widget4 .m-widget4__item.active{
  background: #f2f3f8;
}
.m-widget4 .m-widget4__item + .m-widget4__item{
  margin-top: 1px;
}
.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body{
  min-width: 100px;
}
.m-messenger__message-text.image{
  position: relative;
}
.m-messenger__message-text.image a.edit-zoom{
  position: absolute;
  z-index: 99;
  background: #ddd;
  top:50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
  display: none;
}
.m-messenger__message-body:hover .m-messenger__message-text.image a.edit-zoom{
  display: block;
}

.popup.popup-chat-login{
  top:50%;
  left: 50%;
  margin-left: -206px;
  margin-top: -20px;
}

.popup-chat-login,
.chat-login{
  background: #f2f3f8;
  padding: 15px;
  border-radius: 5px;
}

button.btn-primary{
  border: 0;
  /*padding: 10px 15px;*/
}
#phoneMessage,
input.chat-area-input{
  border-radius: 20px;
  border: none;
  padding: 10px;
}
#firstshowPopup button{
  background: #716aca;
  border: none;
  border-radius: 20px;
  color:#fff;
  padding: 8px 20px;
  margin-left: 10px;
  font-size: 13px;
  display: inline-block;
}


.hide{display:none}.tablist li{width:100%}.dd-handle-new{position:absolute;left:0;top:5px;width:100%;text-align:center;text-indent:0;color:#fff;font-size:14px;font-weight:normal;border:1px solid #ccc;background:#d5d5d5;width:30px;line-height:30px;cursor:pointer}.dd_header-new .col-sm-3,.dd_header-new .col-sm-1,.dd_header-new .col-sm-2{background:#e5e5e5;position:relative}.dd_header-new .col-sm-3 label,.dd_header-new .col-sm-1 label,.dd_header-new .col-sm-2 label{padding:10px;margin-bottom:0px}.dd_header-new .col-sm-3 a,.dd_header-new .col-sm-1 a,.dd_header-new .col-sm-2 a{position:relative;left:5px}.ui-sortable .form-group.row{border-bottom:1px solid #e5e5e5;padding-bottom:20px}.img-container{background:#f2f2f2;padding:15px;border-radius:2px}
/*# sourceMappingURL=custom.css.map */


#payment_box .head_row {
  margin-top: 10px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding: 14px 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #333 !important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

#payment_box .head_row:first-child {
  margin-top: 0;
}

#payment_box .head_row .round_box {
  border: 1px solid #cacaca;
  width: 24px;
  height: 24px;
  border-radius: 13px;
  display: inline-block;
  margin-right: 0px;
}

#payment_box .head_row .icon {
  background: url(../images/bank_icons.png) no-repeat 0 0;
  width: 60px;
  height: 32px;
  display: inline-block;
  margin-right: 0px;
  text-indent: -999em;
  position: absolute;
  top: 9px;
  left: 48px;
}

#payment_box .head_row .title {
  display: inline-block;
  padding-left: 70px;
}

#payment_box .head_row .price {
  float: right;
  line-height: 24px;
}

#payment_box .head_row.active {
  border: 1px solid #0088cc;
  background-color: #0088cc;
  color: #fff !important;
  padding: 10px 15px;
  z-index: 1;
}

#payment_box .head_row.active .round_box {
  border: 6px solid #fff;
  position: relative;
  top: 2px;
}

#payment_box .head_row.active.bank_transfer_head .icon {
  background-position: 0 93%;
}

#payment_box .head_row.active .round_box,
#payment_box .head_row.active.bank_transfer_head .icon,
#payment_box .head_row .title {
  display: inline-block;
}

#payment_box .head_row .checkbox {
  margin-top: 3px;
  margin-bottom: 2px;
}

#payment_box .head_row.paypal_head .icon {
  background-position: -65px -6px;
}

#payment_box .head_row.active.paypal_head .icon {
  background-position: -65px 92%;
}

#payment_box .head_row.cheque_head .icon {
  background-position: -133px -6px;
}

#payment_box .head_row.venmo_head .icon {
  background-position: -337px -3px;
}

#payment_box .head_row.active.venmo_head .icon {
  background-position: -337px 90%;
}

#payment_box .head_row.zelle_head .icon {
  background-position: -289px -4px;
  width: 42px;
}

#payment_box .head_row.active.zelle_head .icon {
  background-position: -289px 88%;
  width: 42px;
}

#payment_box .head_row.amazon_gcard_head .icon {
  background-position: -210px -4px;
}

#payment_box .head_row.active.amazon_gcard_head .icon {
  background-position: -210px 88%;
}

#payment_box .head_row.active.cheque_head .icon {
  background-position: -133px 88%;
}

#payment_box .detail_row {
  border: 2px solid #0088cc;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 13px;
  margin-top: 10px;
  display: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#payment_box .detail_row label {
  font-weight: bold;
  display: block;
}

#payment_box .detail_row .intl-tel-input {
  display: block;
  padding-left: 47px;
}

#payment_box .detail_row .textbox {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 4px 4px 0;
  text-align: left;
  color: #0088cc;
  width: 100%;
}

#payment_box .detail_row .textbox:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#payment_box .detail_row ::-webkit-input-placeholder {
  color: #0088cc;
}

#payment_box .detail_row :-ms-input-placeholder {
  color: #0088cc;
}

#payment_box .detail_row ::-ms-input-placeholder {
  color: #0088cc;
}

#payment_box .detail_row ::placeholder {
  color: #0088cc;
}

#payment_box .detail_row ::-ms-input-placeholder {
  color: #0088cc;
}

#payment_box .detail_row ::-ms-input-placeholder {
  color: #0088cc;
}

#payment_box .detail_row .textbox:focus::-webkit-input-placeholder {
  color: #fff;
}

#payment_box .detail_row .textbox:focus:-ms-input-placeholder {
  color: #fff;
}

#payment_box .detail_row .textbox:focus::-ms-input-placeholder {
  color: #fff;
}

#payment_box .detail_row .textbox:focus::placeholder {
  color: #fff;
}

#payment_box .detail_row.active {
  display: block;
}

input.datepicker {
  width: 100% !important;
}

.btn-xs {
    padding: .3rem 1rem !important;
}
 
/***07/12/2020***/

.table-responsive {
    display: table;
}

.main_top_section .m-portlet .m-portlet__body {
    overflow: hidden;
}

table.table.table-bordered.table-hover.table-checkable.dataTable.dtr-inline.table-responsive.archive_table {
    display: block;
    white-space: nowrap;
}

ul.page-select-dropdown {
    padding-left: 0;
    list-style: none;
}

.main_top_section .select2-container--default .select2-selection--multiple, 
.main_top_section .select2-container--default .select2-selection--single {
    padding: 0 10px;
}

.main_top_section .select2-container--default .select2-selection--single .select2-selection__arrow {
   right: 12px;
}

.main_top_section .select2-container--default .select2-selection--single .select2-selection__rendered {
   padding: 8px 20px 7px 5px;
}

.m-table.m-table--head-bg-brand thead th {
   padding: 10px 10px;
}

#check_device_popup .m-wizard.m-wizard--2 {
    margin-top: 0;
}

/***resposive***/

@media only screen and (max-width: 767px) {
    
   .m-stack__item.m-stack__item--middle.m-brand__logo .m-brand__logo-wrapper img {
        width: 100px;
   }
  
   a#m_aside_header_menu_mobile_toggle {
        display: none !important;
   }

    a.btn.btn-warning.m-4.p-2 {
        margin: 20px 0 0 20px!important;
        z-index: 99;
        position: relative;
        bottom: 9px;
    }
    
    a#m_aside_header_topbar_mobile_toggle {
        display: none !important;
    }
    
    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span {
        background: #fff;
    }
    
    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before {
        background: #fff;
    }
    
    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before {
        background: #fff;
    }
    
    .m-card-user .m-card-user__pic img {
       max-width: 50px!important;
       max-height: 40px;
    }
     .m-dropdown .m-dropdown__wrapper .m-dropdown__header {
        padding: 15px 15px;
    }
     
    .m-dropdown .m-dropdown__wrapper .m-dropdown__body {
        padding: 15px;
    }
    
    .m-dropdown.m-dropdown--arrow .m-dropdown__arrow:before, .m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow:before {
        position: absolute;
        margin-top: 11px;
        font-size: 36px;
        right: 11px;
    }
    
    .m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body.main_top_section {
        padding-top: 115px !important;
    }
    
    .main_top_section .m-portlet .m-portlet__body {
        overflow: hidden;
        padding:15px 15px;
    }
    
    .main_top_section .m-btn--icon.m-btn--icon-only {
        margin: 0 auto;
        display: block;
    }
    
    .main_top_section .form-control, .form-control[readonly] {
        margin-bottom: 10px;
    }
    
   .main_top_section button.btn.btn-alt.btn-primary.ml-2.searchbx {
        margin-left: 0 !important;
    }
    
    .main_top_section input#to_date,.main_top_section input#from_date {
        margin-left: 0 !important;
    }
    
    .form-group.row.paid_order_section {
        margin-bottom: 0;
    }
    
    .form-group.row.archive_orders {
        margin-bottom: 0;
    }
    
    .table-responsive {
        display:block;
        white-space: nowrap;
    }
    
    table.table.table-bordered.table-hover.table-checkable.dataTable.dtr-inline.table-responsive.archive_table {
        display: block;
        white-space: nowrap;
    }
    
    .main_top_section .m-portlet .m-portlet__head {
        padding: 15px 15px
    }
    
     .main_top_section .m-form .m-form__actions {
        padding: 15px;
    }
    
    .form-control.m-input.user_input_filter {
        width: 100%;
    }
    
    .m-footer {
        min-height: 30px;
        padding: 15px 15px;
    }
    
    .m-footer .m-footer__copyright {
       margin-bottom: 0;
    }
    
    .main_top_section .intl-tel-input input, .intl-tel-input input[type=text], 
    .main_top_section .intl-tel-input input[type=tel] {
        margin-bottom: 10px !important;
    }
    
    .m-scroll-top {
        padding-top: 13px;
    }
    
    #EditShippingInfo .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #EditShippingInfo .modal-content .modal-header {
        padding:15px;
    }
    
    #EditShippingInfo .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #EditShippingInfo .modal .modal-content .modal-body {
        padding: 15px;
    }
    
    #EditShippingInfo .modal .modal-content .modal-footer {
        padding: 15px;
    }
    
    #item_media_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    .remove_item__image.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    #item_media_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #item_media_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #item_media_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    .remove_item__image2.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    #check_device_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #check_device_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #check_device_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #check_device_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
     #check_device_popup .m-wizard.m-wizard--2 {
        margin-top:0;
    }
    
    #check_device_popup .m-form .m-form__actions {
        padding:15px;
    }
    
    #check_device_popup a.btn.btn-secondary.m-btn.m-btn--custom.m-btn--icon {
        margin-bottom: 15px;
    }
    
    .remove_item__image_chk_d.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    .remove_item__image2_chk_d.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    #check_device_popup .m-portlet__foot.m-portlet__foot--fit.m--margin-top-40 {
        margin-top: 15px !important;
    }
    
    
    
    #checked_device_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #checked_device_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #checked_device_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #checked_device_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #device_item_check_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #device_item_check_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #device_item_check_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #device_item_check_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #device_item_view_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #device_item_view_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #device_item_view_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #device_item_view_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .m-stack__item.m-stack__item--middle.m-brand__logo .m-brand__logo-wrapper img {
        width: 100px;
   }
  
   a#m_aside_header_menu_mobile_toggle {
        display: none !important;
   }

    a.btn.btn-warning.m-4.p-2 {
        margin: 20px 0 0 20px!important;
        z-index: 99;
        position: relative;
        bottom: 9px;
    }
    
    a#m_aside_header_topbar_mobile_toggle {
        display: none !important;
    }
    
    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span {
        background: #fff;
    }
    
    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before {
        background: #fff;
    }
    
    .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before {
        background: #fff;
    }
    
    .m-card-user .m-card-user__pic img {
       max-width: 50px!important;
       max-height: 40px;
    }
     .m-dropdown .m-dropdown__wrapper .m-dropdown__header {
        padding: 15px 15px;
    }
     
    .m-dropdown .m-dropdown__wrapper .m-dropdown__body {
        padding: 15px;
    }
    
    .m-dropdown.m-dropdown--arrow .m-dropdown__arrow:before, .m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow:before {
        position: absolute;
        margin-top: 11px;
        font-size: 36px;
        right: 11px;
    }
    
    .m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body.main_top_section {
        padding-top: 115px !important;
    }
    
    .main_top_section .m-portlet .m-portlet__body {
        overflow: hidden;
        padding:15px 15px;
    }
    
    .main_top_section .m-btn--icon.m-btn--icon-only {
        margin: 0 auto;
        display: block;
    }
    
    .main_top_section .form-control, .form-control[readonly] {
        margin-bottom: 10px;
    }
    
   .main_top_section button.btn.btn-alt.btn-primary.ml-2.searchbx {
        margin-left: 0 !important;
    } 
    
    .main_top_section input#to_date,.main_top_section input#from_date {
        margin-left: 0 !important;
    }
    
    .form-group.row.paid_order_section {
        margin-bottom: 0;
    }
    
    .form-group.row.archive_orders {
        margin-bottom: 0;
    }
    
    .table-responsive {
        display:block;
        white-space: nowrap;
    }
    
    table.table.table-bordered.table-hover.table-checkable.dataTable.dtr-inline.table-responsive.archive_table {
        display: block; 
        white-space: nowrap;
    }
    
    .main_top_section .m-portlet .m-portlet__head {
        padding: 15px 15px
    }
    
     .main_top_section .m-form .m-form__actions {
        padding: 15px;
    }
     
    .form-control.m-input.user_input_filter {
        width: 100%;
    }
    
    .m-footer {
        min-height: 30px;
        padding: 15px 15px;
    }
    
    .main_top_section .intl-tel-input input, .intl-tel-input input[type=text], 
    .main_top_section .intl-tel-input input[type=tel] {
        margin-bottom: 10px !important;
    }
    
    .m-scroll-top {
        padding-top: 13px;
    }
    
    #EditShippingInfo .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #EditShippingInfo .modal .modal-content .modal-body {
        padding: 15px;
    }
    
    #EditShippingInfo .modal .modal-content .modal-footer {
        padding: 15px;
    }
    
    #item_media_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #EditShippingInfo .modal-content .modal-header {
        padding:15px;
    }
    
    #EditShippingInfo .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    .remove_item__image.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    #item_media_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #item_media_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #item_media_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    .remove_item__image2.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    #check_device_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #check_device_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #check_device_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #check_device_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #check_device_popup .m-wizard.m-wizard--2 {
        margin-top:0;
    }
    
    #check_device_popup .m-form .m-form__actions {
        padding:15px;
    }
    
    #check_device_popup a.btn.btn-secondary.m-btn.m-btn--custom.m-btn--icon {
        margin-bottom: 15px;
    }
    
    .remove_item__image_chk_d.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    .remove_item__image2_chk_d.btn-sm.btn.btn-danger.m-btn.m-btn--icon.m-btn--pill {
        margin-top: 10px;
    }
    
    #check_device_popup .m-portlet__foot.m-portlet__foot--fit.m--margin-top-40 {
        margin-top: 15px !important;
    }
    
    #checked_device_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #checked_device_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #checked_device_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #checked_device_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #device_item_check_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #device_item_check_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #device_item_check_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #device_item_check_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
    #device_item_view_popup .modal-dialog.modal-sm {
        min-width: 95% !important;
    }
    
    #device_item_view_popup .modal-content .modal-header {
        padding: 15px;
    }
    
    #device_item_view_popup .modal-header .close {
        position: relative;
        top: 12px;
    }
    
    #device_item_view_popup .modal-content .modal-footer {
        padding: 15px;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1100px) {

} 